.card {
    text-align: center;
    opacity: 1;
    color: white;
    height: 200px;
    background-image: url('https://s3-media0.fl.yelpcdn.com/bphoto/DRgIgGQv4hh8yPDKrwpcOA/o.jpg');
    background-size: cover;
    margin-top: 10px !important;
    border-radius: 5px;
    border: 2px solid white !important;
}

.card2 {
    text-align: center;
    padding-top: 10px;
    opacity: 1;
    color: white;
    height: 200px;
    background-image: url('https://s3-media0.fl.yelpcdn.com/bphoto/vA5l5bWMNrwvOFPS0-W8PQ/o.jpg');
    background-size: cover;
    margin-top: 10px !important;
    border-radius: 5px;
    border: 2px solid white !important;
}

.card3 {
    text-align: center;
    padding-top: 10px;
    opacity: 1;
    color: white;
    height: 200px;
    width: 100px;
    background-image: url('https://s3-media0.fl.yelpcdn.com/bphoto/OY7JSsv32wJy9r8PQvQkxA/o.jpg');
    background-size: cover;
    margin-top: 10px !important;
    border-radius: 5px;
    border: 1px solid white;
}

.card4 {
    text-align: center;
    padding-top: 10px;
    opacity: 1;
    color: white;
    height: 200px;
    background-image: url('https://fastly.4sqi.net/img/general/width960/CvhPT4jEVtPDgKteYmnbNG7BrCCs9m8hPpQZxGqxoIo.jpg');
    background-size: cover;
    margin-top: 10px !important;
    border-radius: 5px;
    border: 1px solid white;
}

.card5 {
    text-align: center;
    padding-top: 10px;
    opacity: 1;
    color: white;
    height: 200px;
    background-image: url('https://fastly.4sqi.net/img/general/width960/485189730_buGw_NXMumAxcwtpGgGN2jzg67wiZw9UNlZ_rLEI2m8.jpg');
    background-size: cover;
    margin-top: 10px !important;
    border-radius: 5px;
    border: 1px solid white;
}

.card6 {
    text-align: center;
    padding-top: 10px;
    opacity: 1;
    color: white;
    height: 200px;
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/0b/e8/2d/8f/photo0jpg.jpg');
    background-size: cover;
    margin-top: 10px !important;
    border-radius: 5px;
    border: 1px solid white;
}

.card7 {
    text-align: center;
    padding-top: 10px;
    opacity: 1;
    color: white;
    height: 200px;
    background-image: url('https://fastly.4sqi.net/img/general/width960/992060_68fZ0sSydtn7mDtr_GIEkeQpUHHGMsLN6OOLQ6nQaWc.jpg');
    background-size: cover;
    margin-top: 10px !important;
    border-radius: 5px;
    border: 1px solid white;
}

.container{
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
}

.slick-prev:before, .slick-next:before {
    color: black !important;
}



