.footer-main {
  display: flex;
  justify-content: space-evenly;
  background: #ebb040;
}

.footer-info {
  text-align: start;
  margin-top: 70px;
  margin-bottom: 30px;
}

.footer-info h4 {
  font-family: "Nunito", sans-serif;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px black;
  padding-left: 2px;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-info p {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  margin: 0;
  margin-bottom: 10px;
  text-shadow: 1px 1px #dfd5d5;
}

.footer-info p:nth-of-type(4) {
  padding-top: 20px;
}

.footer-location {
  text-align: start;
  margin-top: 70px;
  margin-bottom: 30px;
}

.footer-location h4 {
  font-family: "Nunito", sans-serif;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px black;
  padding-left: 2px;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-location p {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  margin: 0;
  margin-bottom: 10px;
  text-shadow: 1px 1px #dfd5d5;
}

.footer-location a {
  color: black !important;
  text-decoration: none !important;
  font-weight: bolder;
}

.footer-location p:nth-of-type(4) {
  padding-top: 17px;
  display: inline-block;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  font-size: 16px;
}

.footer-location a:hover {
  color: white !important;
  text-shadow: 1px 1px black;
}

.footer-hours {
  text-align: start;
  margin-top: 70px;
  margin-bottom: 30px;
}

.footer-hours h4 {
  font-family: "Nunito", sans-serif;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px black;
  padding-left: 2px;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.footer-hours h5 {
  font-family: "Nunito", sans-serif;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px black;
  padding-left: 2px;
  font-size: 17px;
}

.footer-hours h5:nth-of-type(2) {
  margin-top: 40px;
}

#lunch-hours {
  margin-left: 50px;
}

#dinner-hours {
  margin-left: 50px;
}

.footer-hours p {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  margin: 0;
  margin-bottom: 10px;
  text-shadow: 1px 1px #dfd5d5;
  border-bottom: 1px dotted white;
}

.footer-connect {
  text-align: start;
  margin-top: 70px;
  margin-bottom: 30px;
}

.footer-connect h4 {
  font-family: "Nunito", sans-serif;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px black;
  padding-left: 2px;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-connect p {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  margin: 0;
  margin-bottom: 10px;
  text-shadow: 1px 1px #dfd5d5;
  width: 100px !important;
}

.footer-connect p:nth-of-type(1) {
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  width: 80px;
  margin: auto;
  margin-top: 20px;
}

.footer-connect p:nth-of-type(2) {
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  width: 80px;
  margin: auto;
  margin-top: 11px;
}

#facebook {
  color: #3b5998 !important;
  font-weight: bolder !important;
}

#facebook:hover {
  color: white !important;
  text-shadow: 1px 1px #3b5998 !important;
}

#yelp {
  color: #c41200 !important;
  font-weight: bolder !important;
}

#yelp:hover {
  color: white !important;
  text-shadow: 1px 1px #c41200 !important;
}

#fb-icon {
  color: #3b5998 !important;
  font-weight: bolder !important;
}

#yelp-icon {
  color: #c41200 !important;
  font-weight: bolder !important;
}

.footer-connect i:nth-of-type(2) {
  color: #c41200 !important;
}

.footer-connect a {
  color: black !important;
  text-decoration: none !important;
}

.footer-contact {
  text-align: start;
  margin-top: 70px;
  margin-bottom: 30px;
}

.footer-contact h4 {
  font-family: "Nunito", sans-serif;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px black;
  padding-left: 2px;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-contact span {
  margin-right: 5px;
}

.footer-contact p {
  border-bottom: 1px solid black;
  font-size: 15px;
  text-shadow: 1px 1px #dfd5d5;
}

.footer-phone {
  display: flex;
}

.footer-phone i {
  padding-top: 5px;
  margin-right: 10px;
  text-shadow: 1px 1px #dfd5d5;
  margin-left: 3px;
}

.footer-phone p {
  margin-left: 5px;
}

.footer-phone a {
  color: black !important;
  text-decoration: none !important;
}

.footer-phone a:hover {
  color: white !important;
  text-shadow: 1px 1px black;
}

.footer-mail i {
  padding-top: 5px;
  margin-right: 10px;
  text-shadow: 1px 1px #dfd5d5;
}

.footer-mail a {
  color: black !important;
  text-decoration: none !important;
}

.footer-mail a:hover {
  color: white !important;
  text-shadow: 1px 1px black;
}

.footer-mail {
  display: flex;
}

/* Media Queries */

/* iPhone X */
@media (max-width: 812px) {
  .footer-main {
    display: flex;
    flex-direction: column;
  }
  .footer-info {
    text-align: center;
  }
  .footer-location {
    text-align: center;
  }
  .footer-location a {
    font-size: 18px;
  }
  .footer-hours {
    text-align: center;
    margin: 80px 20px;
  }
  .footer-connect {
    text-align: center;
  }
  .footer-contact {
    text-align: center;
  }
  .footer-phone {
    justify-content: center;
  }
  .footer-mail {
    justify-content: center;
  }
  .footer-connect p:nth-of-type(1) {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
  }

  .footer-connect p:nth-of-type(2) {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
  }
  #fb-icon {
    color: #3b5998 !important;
    font-weight: bolder !important;
    padding-top: 5px;
  }
  #yelp-icon {
    color: #c41200 !important;
    font-weight: bolder !important;
    padding-top: 5px;
  }
}

.Footer {
  display: flex;
  flex-direction: column;
}

.footer-home {
  background: #ebb040;
}

.footer-home a {
  color: white !important;
  text-shadow: 1px 1px black;
  font-weight: bolder;
  text-decoration: none !important;
  outline: none;
}

.footer-home a:hover {
  color: rgb(255, 255, 255) !important;
}

#back-home {
  outline: none;
}

.back-home .fa-angle-double-up {
  width: 38px;
  height: 38px;
  background: #c35d5d;
  border-radius: 50%;
  padding-top: 5px !important;
  border: 1px solid #735d5d;
  position: relative;
  margin: auto;
  padding-bottom: 5px;
}

.back-home .fa-angle-double-up:hover {
  background: #ca3737;
  border: 1px solid white;
}

.footer-home .back-home {
  margin-top: -21px;
}
