.logoNav {
  display: flex;
  justify-content: space-evenly;
  padding-right: 5%;
  padding-left: 5%;
  background-color: transparent;
}

.nav-background {
  background-color: #0c0b0b !important;
  height: 113px;
  margin-top: -120px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .nav-background {
    height: 90px;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .nav-background {
    height: 120px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .logoNav {
    border: 1px solid red;
  }
}

.logo-side {
  border: 1px solid white;
  border-top: 1px solid white;
  height: 120px;
  padding-top: 30px;
  background: white !important;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 150px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .logo-side {
    height: 100px;
    z-index: 1 !important;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .logo-side {
    z-index: 2 !important;
    height: 117px;
    width: 115px;
  }
}

.link-side {
  margin-left: auto;
  width: 449px;
  margin-top: -12px;
}
